<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style th:replace="/admin/fragments/style"></style>
    <div th:replace="/admin/fragments/script"></div>
    <style>
        table, td, th {
            border: 1px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            text-align: center;
        }

        td {
            height: 50%;
            text-align: center;
            vertical-align: center;
        }
    </style>
</head>
<body>
<div th:insert="~{/admin/fragments/header :: header}"></div>
<div th:insert="~{/admin/fragments/left_side :: left_side}"></div>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Users</h3>
                </div>
                <div class="card-body">
                    <table class="table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email Name</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Birthday</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <block th:each="detail:${detailsList}">
                            <tbody>
                            <td style="width: 1%" th:text="${detail.users.id}"></td>
                            <td style="width: 10%" th:text="${detail.users.email}"></td>
                            <td style="width: 10%" th:text="${detail.users.firstName}"></td>
                            <td style="width: 10%" th:text="${detail.users.lastName}"></td>
                            <td style="width: 10%" th:text="${detail.birthday}"></td>

                            <td style="width: 10%; text-align: center" >
                                <div class="card-body childInCenter">
                                    <a th:href="@{/admin/user/edit (userId = ${detail.users.id})}">
                                        <button type="button" class="btn btn-warning btn-flat">Edit</button>
                                    </a>
                                </div>
                            </td>

                            <td style="width: 10%; text-align: center">
                                <div class="card-body childInCenter">
                                        <button disabled type="button" class="btn btn-danger btn-flat">Delete</button>
                                </div>
                            </td>
                            </tbody>
                        </block>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>