<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <style th:replace="/admin/fragments/style"></style>
    <div th:replace="/admin/fragments/script"></div>
</head>
<body>
<div th:insert="~{/admin/fragments/header :: header}"></div>
<div th:insert="~{/admin/fragments/left_side :: left_side}"></div>

<div class="content-wrapper">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit User</h3>
        </div>

        <form id="saveUserForm" enctype="multipart/form-data" method="post"  th:action="@{/admin/user/update (userId = ${user.id}, detailsId = ${user.details.detailsId})}">
            <label><input hidden name="userId" id="userId"></label>
            <label><input hidden th:value="${user.details.detailsId}" name="detailsId" id="detailsId"></label>

            <div class="card-body">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input th:value="${user.firstName}" type="text" class="form-control" name="firstName"
                           id="firstName" placeholder="Enter First Name">
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input th:value="${user.lastName}" type="text" class="form-control" name="lastName"
                           id="lastName" placeholder="Enter Last Name">
                </div>

                <div class="form-group">
                    <label for="UserEmail">Email</label>
                    <input th:value="${user.email}" type="text" class="form-control" name="userEmail"
                           id="UserEmail" placeholder="Enter Email">
                </div>

                <div class="form-group">
                    <label for="UserPhone">Phone</label>
                    <input th:value="${user.details.phone}" type="text" class="form-control" name="userPhone"
                           id="UserPhone" placeholder="Enter phone">
                </div>

                <div class="form-group">
                    <label for="userBirthday">Birthday</label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                        <input required type="text" th:value="${user.details.birthday}" name="userBirthday" id="userBirthday" class="form-control datetimepicker-input" data-target="#reservationdate">
                    </div>
                </div>

                <div class="form-group">
                    <label for="genders">Gender</label>
                    <select required class="form-control" name="genders" id="genders">
                        <option th:each="genders : ${T(com.example.demo.entity.enums.Gender).values()}"
                                th:value="${genders}" th:text="${genders.name}" th:selected="${user.details.gender}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="language">Language</label>
                    <select required class="form-control" name="language" id="language">
                        <option th:each="language : ${T(com.example.demo.entity.enums.Language).values()}"
                                th:value="${language}" th:text="${language.name}" th:selected="${user.details.language}"></option>
                    </select>
                </div>

            </div>
            <div class="card-footer">
                <button type="submit" form="saveUserForm" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>