<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinemas</title>
    <style th:replace="/admin/fragments/style"></style>
    <div th:replace="/admin/fragments/script"></div>
</head>
<body>
<div th:insert="~{/admin/fragments/header :: header}"></div>
<div th:insert="~{/admin/fragments/left_side :: left_side}"></div>
<label for="cinemaIdToDelete"></label><input id="cinemaIdToDelete" hidden value="text">

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Cinema</h3>
                </div>
                <form  th:action="@{/admin/cinema/createCinema}" >
                    <div class="card-body">
                        <button   class="btn btn-app addSubImgButton" >
                            <i class="fas fa-plus" ></i>
                        </button>
                    </div>
                </form>

                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px; text-align: center">Id</th>
                            <th style="width: 40px; text-align: center">Cinema Name</th>
                            <th style="width: 40px; text-align: center">Logo</th>
                            <th style="width: 40px; text-align: center">Edit</th>
                            <th style="width: 40px; text-align: center">Delete</th>
                        </tr>
                        </thead>
                        <th:block th:each="cinema:${cinemas}">
                            <tbody>
                            <td style="width: 1%; text-align: center" >
                                <div class="card-body" th:text="${cinema.cinemaId}"></div>
                            </td>

                            <td style="width: 15%; text-align: center" >
                                <div class="card-body" th:text="${cinema.name}"></div>
                            </td>

                            <td style="width: 64%; text-align: center" th:src="${cinema.logoImage}">
                                <div class="card-body">
                                    <img id="logoImage" class="img-fluid pad" th:src="@{${cinema.logoImagePath}}" style="size: 100px" alt="logoImage"/>
                                </div>
                                <input hidden type="file" id="logoImageInput" onload="loadNewLogoImage(this)" name="logoImageInput" >
                            </td>

                            <td style="width: 10%; text-align: center" >
                                <div class="card-body childInCenter">
                                    <a th:href="@{/admin/cinema/edit (cinemaId = ${cinema.cinemaId})}">
                                        <button type="button" class="btn btn-warning btn-flat">Edit</button>
                                    </a>
                                </div>
                            </td>

                            <td style="width: 10%; text-align: center">
                                <div class="card-body childInCenter">
                                    <a th:href="@{/admin/cinema/delete (cinemaId = ${cinema.cinemaId})}">
                                        <button type="button" class="btn btn-danger btn-flat">Delete</button>
                                    </a>
                                </div>
                            </td>
                            </tbody>
                        </th:block>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>


<script>
    $(document).ready(function () {
        $('#logoImageInput').change(function () {
            loadImage(this);
        });
    });
    function loadNewLogoImage(input) {
        loadImage(input,$('#logoImage'));
    }
    function loadImage(input) {
        let file = input.files[0];
        let reader = new FileReader();

        reader.onload = function (e) {
            $('#logoImage').attr('src',e.target.result);
        };
        reader.readAsDataURL(file);
    }
</script>
</body>
</html>