<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit City</title>
    <style th:replace="/admin/fragments/style"></style>
    <div th:replace="/admin/fragments/script"></div>
</head>
<body>
<div th:insert="~{/admin/fragments/header :: header}"></div>
<div th:insert="~{/admin/fragments/left_side :: left_side}"></div>
<div class="content-wrapper">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit City</h3>
        </div>
        <form th:object="${city}" id="saveUserForm"    th:action="@{/admin/updateCity}">
            <input hidden th:value="*{getCityId()}" name="cityId">
            <div class="card-body">
                <div class="form-group">
                    <label for="cityName">City Name</label>
                    <input th:value="*{getName()}" type="text" class="form-control" name="cityName"
                           id="cityName" placeholder="Enter Name">
                </div>
            </div>
            <div class="card-footer">
                <button type="submit"  class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>

</div>


</body>
</html>