<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>City</title>
    <style th:replace="/admin/fragments/style"></style>
    <div th:replace="/admin/fragments/script"></div>
</head>
<body>
<div th:insert="~{/admin/fragments/header :: header}"></div>
<div th:insert="~{/admin/fragments/left_side :: left_side}"></div>
<div class="content-wrapper">
    <section class="content mt-3">
        <div class="container-fluid">
            <div class="card-primary">
                <div class="card-header">
                    <h3 class="card-title">City</h3>
                </div>
                <div class="card card-solid">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column" th:each="city:${cityList}">
                                <div class="card bg-light d-flex flex-fill">
                                    <div class="card-header text-muted border-bottom-0">
                                        <h2 class="lead">
                                            <b>Country: </b>
                                            <th th:text="${city.country.name}"></th>
                                        </h2>
                                    </div>

                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="text-muted text-sm">
                                                    <b>City: </b>
                                                <th th:text="${city.name}"></th>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-6 d-flex align-items-stretch flex-column">
                                                <a th:href="@{/admin/city/edit (cityId = ${city.cityId})}">
                                                    <button type="button" class="btn btn-outline-secondary btn-outline-primary">Edit</button>
                                                </a>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 d-flex align-items-stretch flex-column">
                                                <a th:href="@{/admin/city/delete (cityId = ${city.cityId})}">
                                                    <button type="button" class="btn btn-outline-secondary btn-primary float-right">Delete</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>