<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sessions</title>
    <style th:replace="/admin/fragments/style"></style>
    <div th:replace="/admin/fragments/script"></div>
</head>
<body>
<div th:insert="~{/admin/fragments/header :: header}"></div>
<div th:insert="~{/admin/fragments/left_side :: left_side}"></div>

</div>
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Sessions</h3>
                </div>
                <form  th:action="@{/admin/createSession}" >
                    <div class="card-body">
                        <button   class="btn btn-app addSubImgButton" >
                            <i class="fas fa-plus" ></i>
                        </button>
                    </div>
                </form>

                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">Id</th>
                            <th>Date </th>
                            <th>Movie Name</th>
                            <th style="width: 40px">Edit</th>
                            <th style="width: 40px">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="sessionn:${sessions}" th:object="${sessionn}" th:id="${'tr'}+*{getSessionId()}" >
                            <td th:text="*{getSessionId()}"></td>
                            <td th:text="*{getDate()}"></td>
                            <td th:text="*{getMovie().getName()}"></td>

                            <td>
                                <form  th:action="@{/admin/editSession}">
                                    <label>
                                        <input hidden th:value="*{getSessionId()}" name="sessionId">
                                    </label>
                                    <button  class="btn btn-block btn-warning btn-flat">Edit</button>
                                </form>
                            </td>
                            <td>
                                <button th:onclick="'toggleModal(\'' + *{getSessionId()} + '\')'"  class="btn btn-block btn-danger btn-flat">Delete</button>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </section>

</div>


<script>

    function toggleModal(id) {
        $('#sessionIdToDelete').val(id);
        let modal = $('#modal-lg');
        modal.modal('toggle');

    }
    function deleteSession() {
        let sessionId = $('#userIdToDelete').val();
        let modal = $('#modal-lg');
        modal.modal('hide');
        $.ajax({
            url:'/admin/deleteSession',
            data:{sessionId:sessionId},
            success:function () {
                $('#tr'+sessionId).remove();
            }
        });
    }
</script>
</body>
</html>