<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sessions</title>
    <style th:replace="/admin/fragments/style"></style>
    <div th:replace="/admin/fragments/script"></div>
</head>
<body>
<div th:insert="~{/admin/fragments/header :: header}"></div>
<div th:insert="~{/admin/fragments/left_side :: left_side}"></div>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Seance</h3>
                </div>
                <form  th:action="@{/admin/seance/create}" >
                    <div class="card-body">
                        <button   class="btn btn-app addSubImgButton" >
                            <i class="fas fa-plus" ></i>
                        </button>
                    </div>
                </form>

                <div class="card-body">
                    <table class="table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">Id</th>
                            <th>Date </th>
                            <th>Film Name</th>
                            <th style="width: 40px">Edit</th>
                            <th style="width: 40px">Delete</th>
                        </tr>
                        </thead>
                        <th:block th:each="seance:${seanceList}" >
                            <tbody>
                            <td style="width: 1%" >
                                <div class="card-body childInCenter" th:text="${seance.seanceId}"></div>
                            </td>

                            <td style="width: 10%">
                                <div class="card-body childInCenter" th:text="${seance.date}"></div>
                            </td>

                            <td style="width: 10%">
                                <div class="card-body childInCenter" th:text="${seance.film.name}"></div>
                            </td>

                            <td style="width: 10%">
                                <div class="card-body childInCenter">
                                    <a th:href="@{/admin/seance/edit (seanceId = ${seance.seanceId}, hallId = ${hall.hallId})}">
                                        <button type="button" class="btn btn-warning btn-flat">Edit</button>
                                    </a>
                                </div>
                            </td>

                            <td style="width: 10%">
                                <div class="card-body childInCenter">
                                    <a th:href="@{/admin/seance/delete (seanceId = ${seance.seanceId})}">
                                        <button type="button" class="btn btn-danger btn-flat">Delete</button>
                                    </a>
                                </div>
                            </td>
                            </tbody>
                        </th:block>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>