<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Session</title>
    <style th:replace="/admin/fragments/style"></style>
    <div th:replace="/admin/fragments/script"></div>
</head>
<body>
<div th:insert="~{/admin/fragments/header :: header}"></div>
<div th:insert="~{/admin/fragments/left_side :: left_side}"></div>

<div class="content-wrapper">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit Session</h3>
        </div>

        <form th:object="${sessionn}"     th:action="@{/admin/updateSession}">
            <label>
                <input hidden th:value="*{getSessionId()}" name="sessionId">
            </label>
            <label>
                <input hidden th:value="${hallId}" name="hallId">
            </label>
            <div class="card-body">
                <div class="form-group">
                    <label>Date and time:</label>
                    <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                        <label>
                            <input type="text" name="sessionDate" th:value="${sessionn.getDate()}" class="form-control datetimepicker-input" data-target="#reservationdatetime">
                        </label>
                        <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div  class="form-group">
                    <label >Movie</label>
                    <label>
                        <select   name="movieId"  class="form-control select2bs4 select2-hidden-accessible" style="width: 100%;" >
                            <option th:each="movie : ${movies}" th:value="${movie.getMovieId()}" th:text="${movie.getName()}" th:selected="${sessionn.getMovie().getMovieId() == movie.getMovieId()}"></option>
                        </select>
                    </label>
                </div>


            </div>
            <div class="card-footer">
                <button type="submit"  class="btn btn-primary">Save</button>
            </div>


        </form>
    </div>

</div>
<script>
    //Date picker
    /*$('#reservationdate').datetimepicker({
        format: 'L'
    });*/

</script>
</body>
</html>