<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Seance</title>
    <style th:replace="/admin/fragments/style"></style>
    <div th:replace="/admin/fragments/script"></div>
</head>
<body>
<div th:insert="~{/admin/fragments/header :: header}"></div>
<div th:insert="~{/admin/fragments/left_side :: left_side}"></div>

<div class="content-wrapper">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit Seance</h3>
        </div>

        <form th:object="${seances}" method="post" th:action="@{/admin/seance/update}">
            <label>
                <input hidden th:value="${seances.seanceId}" name="sessionId">
            </label>
            <label>
                <input hidden th:value="${hallId}" name="hallId">
            </label>
            <div class="card-body">
                <div class="form-group">
                    <label for="seanceTime">Date</label>
                    <div class="input-group date"  >
                        <input type="time" id="seanceTime" name="seanceTime" class="form-control" th:value="${seances.time}">
                    </div>
                </div>
                <div  class="form-group">
                    <label >Film</label>
                    <label>
                        <select   name="movieId"  class="form-control select2bs4 select2-hidden-accessible" style="width: 100%;" >
                            <option th:each="film : ${films}" th:value="${film.filmId}" th:text="${film.name}" th:selected="${seances.film.filmId == film.filmId}"></option>
                        </select>
                    </label>
                </div>


            </div>
            <div class="card-footer">
                <button type="submit"  class="btn btn-primary">Save</button>
            </div>


        </form>
    </div>

</div>
</body>
</html>