<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pages</title>
    <style th:replace="/admin/fragments/style"></style>
    <div th:replace="/admin/fragments/script"></div>
</head>
<body>
<div th:insert="~{/admin/fragments/header :: header}"></div>
<div th:insert="~{/admin/fragments/left_side :: left_side}"></div>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">pages</h3>
                </div>
                <form  th:action="@{/admin/createPage}" >
                    <div class="card-body">
                        <button   class="btn btn-app addSubImgButton" >
                            <i class="fas fa-plus" ></i>
                        </button>
                    </div>
                </form>
                <form th:if="${mainPage == null}" th:action="@{/admin/createMainPage}" >
                    <div class="card-body">
                        <button   class="btn btn-app addSubImgButton" >
                            <i class="fas fa-plus" > Create Main Page</i>
                        </button>
                    </div>
                </form>
                <form th:if="${contactsPage == null}" th:action="@{/admin/createContactsPage}" >
                    <div class="card-body">
                        <button   class="btn btn-app addSubImgButton" >
                            <i class="fas fa-plus" > Create Contacts Page</i>
                        </button>
                    </div>
                </form>

                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">Id</th>
                            <th>Name</th>
                            <th>Date of creation</th>
                            <th>Status</th>
                            <th style="width: 40px">Edit</th>
                            <th style="width: 40px">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${mainPage != null}" th:object="${mainPage}">
                            <td th:text="*{getMainPageId()}"></td>
                            <td th:text="*{getName()}"></td>
                            <td th:text="*{getCreationDate()}"></td>
                            <td th:text="*{isActive() == true} ? 'On' : 'Off'"></td>
                            <td>
                                <form  th:action="@{/admin/editMainPage}">
                                    <button  class="btn btn-block btn-warning btn-flat">Edit</button>
                                </form>
                            </td>
                            <td>
                                <button   class="btn btn-block btn-danger disabled inac btn-flat">Delete</button>
                            </td>
                        </tr>
                        <tr th:if="${contactsPage != null}" th:object="${contactsPage}">
                            <td th:text="*{getContactsPageId()}"></td>
                            <td th:text="*{getName()}"></td>
                            <td th:text="*{getCreationDate()}"></td>
                            <td th:text="*{isActive() == true} ? 'On' : 'Off'"></td>
                            <td>
                                <form  th:action="@{/admin/editContactsPage}">
                                    <button  class="btn btn-block btn-warning btn-flat">Edit</button>
                                </form>
                            </td>
                            <td>
                                <button   class="btn btn-block btn-danger disabled inac btn-flat">Delete</button>
                            </td>
                        </tr>
                        <tr th:object="${item}" th:id="${'tr'}+*{getPageId()}" th:each="item:${pages}">
                            <td th:text="*{getPageId()}"></td>
                            <td th:text="*{getName()}"></td>
                            <td th:text="*{getCreationDate()}"></td>
                            <td th:text="*{isActive() == true} ? 'On' : 'Off'"></td>
                            <td>
                                <form  th:action="@{/admin/editPage}">
                                    <label>
                                        <input type="number" hidden th:value="*{getPageId()}" name="pageId">
                                    </label>
                                    <button  class="btn btn-block btn-warning btn-flat">Edit</button>
                                </form>
                            </td>
                            <td>
                                <button th:onclick="'toggleModal(\'' + *{getPageId()} + '\')'"  class="btn btn-block btn-danger btn-flat">Delete</button>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>

</div>
<script>

    function toggleModal(id) {
        $('#IdToDelete').val(id);
        let modal = $('#modal-lg');
        modal.modal('toggle');
    }
    function deleteElement() {
        let pageId = $('#IdToDelete').val();
        let modal = $('#modal-lg');
        modal.modal('hide');
        $.ajax({
           url:'/admin/deletePage',
           data:{pageId:pageId},
           success:function () {
                $('#tr'+pageId).remove();
           }
        });
    }
</script>
</body>
</html>