<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Page</title>
    <style th:replace="/admin/fragments/style"></style>
    <div th:replace="/admin/fragments/script"></div>
</head>
<body>
<div th:insert="~{/admin/fragments/header :: header}"></div>
<div th:insert="~{/admin/fragments/left_side :: left_side}"></div>

<div class="content-wrapper">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Create Page</h3>
        </div>
        <form enctype="multipart/form-data" method="post" th:action="@{/admin/savePage}">
            <div class="card-body">
                <div class="form-group">
                    <label for="pageName">Page Name</label>
                    <input required  type="text" class="form-control" name="pageName"
                           id="pageName" placeholder="Enter Name">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <label>
<textarea  class="form-control" rows="3" name="pageDescription"
           placeholder="Enter Description"></textarea>
                    </label>
                </div>
                <div class="form-group">
                    <label for="videoLink">Video Link</label>
                    <input  type="text" class="form-control" name="pageVideoLink"
                           id="videoLink" placeholder="Video Link">
                </div>
                <div  class="form-group">
                    <label >Status</label>
                    <label>
                        <select   name="pageStatus"  class="form-control select2bs4 select2-hidden-accessible" style="width: 100%;" >
                            <option value=true >On</option>
                            <option value=false  >Off</option>
                        </select>
                    </label>
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                         <h3 class="card-title">Main Image</h3>
                    </div>
                    <div class="form-group ">
                        <div class="card-body childInCenter">
                            <img id="mainImage" class="img-fluid pad"  style="width: 200px" alt="mainImage"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <input hidden type="file"  name="pageMainImage" onchange="loadNewMainImage(this)" id="mainImageInput"  >
                        <div class="card-body">
                            <a onclick="addMainImage()" class="btn btn-app addSubImgButton" >
                                <i class="fas fa-edit" ></i>Edit
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Additional Images</h3>
                    </div>
                    <div class="form-group">
                        <div class="card-body">
                            <a  onclick="addNewImages()" class="btn btn-app addSubImgButton" >
                                <i class="fas fa-plus" ></i>Add
                            </a>
                        </div>

                        <div id="imagesRow" class="row">
                            <div style="display: none" id="emptyCard" class="col-md-6">
                                <div class="card card-widget">
                                    <div class="card-header">
                                        <div class="user-block">
                                            <span class="description"></span>
                                        </div>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-tool  deleteButton" >
                                                <input type="file" hidden >
                                                <i class="fas fa-times" style="color: red"></i>
                                            </button>
                                        </div>

                                    </div>

                                    <div class="card-body">
                                        <img class="img-fluid pad" src="" alt="Photo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div >
                    <div th:insert="~{/admin/fragments/seoFragment :: seoFragment(
                    url= '',
                    title='',
                    keywords='',
                    description='')}"></div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit"  class="btn btn-primary">Save</button>
            </div>

        </form>
    </div>
</div>
</body>
<script>
    function addNewImages() {
        let emptyCard = $('#emptyCard');
        let emptyClone = $(emptyCard).clone();
        let input = $(emptyClone).find('input');


        $(input).attr('name','pageImages');
        $(input).change(function () {
            let file = this.files[0];
            let reader = new FileReader();


            reader.onload = function (e) {
                $(emptyClone).find('span').text(file.name);
                $(emptyClone).find('img').attr('src',e.target.result);
                $(emptyClone).find('.deleteButton').click(function () {
                    removeCard(this);
                });
                $(emptyCard).after(emptyClone);
                $(emptyClone).show();
            }
            reader.readAsDataURL(file);
        });
        $(input).click();
    }
    function removeCard(button) {
        $(button).parents('.col-md-6').remove();
    }
    function addMainImage() {
        $('#mainImageInput').click();
    }
    function loadNewMainImage(input){
        let file = input.files[0];
        let reader = new FileReader();

        reader.onload = function (e) {
            $('#mainImage').attr('src',e.target.result);
        }
        reader.readAsDataURL(file)
    }
</script>
</html>