<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Films</title>
    <style th:replace="/admin/fragments/style"></style>
    <div th:replace="/admin/fragments/script"></div>
</head>
<body>
<div th:insert="~{/admin/fragments/header :: header}"></div>
<div th:insert="~{/admin/fragments/left_side :: left_side}"></div>

<div class="content-wrapper">
    <section class="content mt-3">
        <div class="container-fluid">
            <div class="card-primary">
                <div class="card-header">
                    <h3 class="card-title">Film</h3>
                </div>
                <div class="card card-solid">
                    <div class="card-body pb-0">

                        <form th:action="@{/admin/film/create}">
                            <div class="card-body">
                                <button   class="btn btn-app addSubImgButton" >
                                    <i class="fas fa-plus-circle" ></i>
                                </button>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-3 d-flex align-items-stretch flex-column" th:each="film:${films}">
                                <div class="card bg-light d-flex flex-fill">

                                    <div class="card-header text-muted border-bottom-0 childInCenter">
                                        <h2 class="lead">
                                            <b>Film: </b>
                                            <th th:text="${film.name}"></th>
                                        </h2>
                                    </div>

                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="portrait col-12 childInCenter m-auto">
                                                <img th:src="@{${film.mainImagePath}}" alt="mainImage"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-6 d-flex align-items-stretch flex-column mt-3">
                                                <a th:href="@{/admin/film/edit (filmId = ${film.filmId})}">
                                                    <button type="button" class="btn btn-outline-secondary btn-outline-primary">Edit</button>
                                                </a>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 d-flex align-items-stretch flex-column mt-3">
                                                <a th:href="@{/admin/film/delete (filmId = ${film.filmId})}">
                                                    <button type="button" class="btn btn-outline-secondary btn-primary float-right">Delete</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>