<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create film</title>
    <style th:replace="/admin/fragments/style"></style>
    <div th:replace="/admin/fragments/script"></div>
</head>
<body>
<div th:insert="~{/admin/fragments/header :: header}"></div>
<div th:insert="~{/admin/fragments/left_side :: left_side}"></div>

<div class="content-wrapper">
    <section class="content col-md-12 mt-3">
        <div class="container-fluid">
            <div class="card-primary">
                <div class="card-header">
                    <h3 class="card-title">Create Film</h3>
                </div>
                <div class="card card-solid">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-md-12">
                                <form id="createFilm" name="createFilm" enctype="multipart/form-data" method="post" th:action="@{/admin/film/save}">
                                    <label for="filmId"></label><input hidden id="filmId" name="filmId">

                                    <div class="card-body">

                                        <div class="form-group">
                                            <label for="filmName">Film Name</label>
                                            <input required  type="text" class="form-control" name="filmName"
                                                   id="filmName" placeholder="Enter Name">
                                        </div>

                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <textarea required class="form-control" rows="3" name="description"
                                                      id="description" placeholder="Enter Description"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="filmYear">Film Year</label>
                                            <div class="input-group date" id="filmYear" data-target-input="nearest">
                                                <div class="input-group-append" data-target="#filmYear" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                                <input required type="text" class="form-control datetimepicker-input" value="2017-05-24" name="filmYear" data-target="#filmYear">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="genres">Film genre</label>
                                            <select required class="form-control" name="genres" id="genres">
                                                <option disabled value="">Nothing selected</option>
                                                <option th:each="genre : ${T(com.example.demo.entity.enums.Genre).values()}"
                                                        th:value="${genre}" th:text="${genre.name}"></option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="type">Film type</label>
                                            <select required class="form-control" name="type" id="type">
                                                <option disabled value="">Nothing selected</option>
                                                <option th:each="type : ${T(com.example.demo.entity.enums.Type).values()}"
                                                        th:value="${type}" th:text="${type.name}"></option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="language">Film language</label>
                                            <select required class="form-control" name="language" id="language">
                                                <option disabled value="">Nothing selected</option>
                                                <option th:each="language : ${T(com.example.demo.entity.enums.Language).values()}"
                                                        th:value="${language}" th:text="${language.name}"></option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="trailerLink">Trailer Link</label>
                                            <input required type="url" class="form-control" name="trailerLink"
                                                   id="trailerLink" placeholder="Trailer Link" value="https://google.com">
                                        </div>

                                        <div class="form-group">
                                            <div class="card-body">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th style="width: 50%; text-align: center">Date film realise</th>
                                                        <th style="width: 50%; text-align: center">Date film finish</th>
                                                    </tr>
                                                    </thead>
                                                    <th:block>
                                                        <tbody>
                                                        <td>
                                                            <div class="input-group date" id="dateRealise" data-target-input="nearest">
                                                                <div class="input-group-append" data-target="#dateRealise" data-toggle="datetimepicker">
                                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                                </div>
                                                                <label for="dateRealise" hidden></label>
                                                                <input required type="text" class="form-control datetimepicker-input" name="dateRealise" data-target="#dateRealise" placeholder="yyyy-mm-dd">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="input-group date" id="dateFinish" data-target-input="nearest">
                                                                <div class="input-group-append" data-target="#dateFinish" data-toggle="datetimepicker">
                                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                                </div>
                                                                <label for="dateFinish" hidden></label>
                                                                <input required type="text" class="form-control datetimepicker-input" name="dateFinish" data-target="#dateFinish" placeholder="yyyy-mm-dd">
                                                            </div>
                                                        </td>
                                                        </tbody>
                                                    </th:block>
                                                </table>
                                            </div>
                                        </div>

                                        <!--Main image-->
                                        <div class="card-header">
                                            <label for="mainImageInput" class="card-title">Main Image</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="card-body">
                                                <a onclick="addMainImage()"  class="btn btn-app addSubImgButton" >
                                                    <i class="fas fa-plus-circle"></i>
                                                </a>
                                            </div>
                                            <div class="portrait childInCenter m-auto">
                                                <img id="mainImage" alt="Main image"/>
                                            </div>
                                            <form method="post" enctype="multipart/form-data">
                                                <input hidden type="file" name="mainImage" id="mainImageInput" onchange="loadNewMainImage(this)"  >
                                            </form>
                                        </div>

                                        <!--Additional images-->
                                        <div class="card-header">
                                            <label for="filmImagesInput" class="card-title">Additional image</label>
                                        </div>
                                        <div class="form-group ">
                                            <div class="card-body">
                                                <a onclick="addAdditionalImages()" class="btn btn-app addSubImgButton" >
                                                    <i class="fas fa-plus-circle" ></i>
                                                </a>
                                            </div>
                                            <div class="portrait childInCenter m-auto">
                                                <img id="filmImages" alt="Film Images"/>
                                            </div>
                                            <form method="post" enctype="multipart/form-data">
                                                <input hidden type="file" name="filmImages" id="filmImagesInput" onchange="loadNewFilmImages(this)"  >
                                            </form>
                                        </div>

                                        <div>
                                            <div th:insert="~{/admin/fragments/seoFragment :: seoFragment(
                                                url = 'https://google.com',
                                                title = 'title',
                                                keywords = 'keywords',
                                                description = 'description')}">
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="content-wrapper">
    <section class="content col-md-12 mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <a href="/admin/film">
                        <button type="button" class="btn btn-outline-secondary btn-outline-primary">Cancel</button>
                    </a>
                </div>
                <div class="col-md-6">
                    <input type="submit" form="createFilm" class="btn btn-outline-secondary btn-outline-primary float-right" value="Save">
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>