<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<body>
<div th:fragment="left_side" sec:authorize="hasAuthority('ADMIN')">
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="position: fixed">
    <!-- Brand Logo -->
    <a href="/admin/statistic" class="brand-link">
        <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Admin Panel</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/admin/statistic" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Statistic
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/film" class="nav-link">
                        <i class="nav-icon fas fa-film"></i>
                        <p>
                            Film
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/cinema" class="nav-link">
                        <i class="nav-icon fas fa-video"></i>
                        <p>
                            Cinema
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/hall" class="nav-link">
                        <i class="nav-icon fas fa-couch"></i>
                        <p>
                            Hall
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/admin/news" class="nav-link">
                        <i class="nav-icon fas fa-newspaper"></i>
                        <p>
                            News
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/promotion" class="nav-link">
                        <i class="nav-icon fas fa-percent"></i>
                        <p>
                            Promotion
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/seance" class="nav-link">
                        <i class="nav-icon fas fa-calendar"></i>
                        <p>
                            Seance
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/pages" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Pages
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/contacts" class="nav-link">
                        <i class="nav-icon fas fa-address-book"></i>
                        <p>
                            Contacts
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-plane"></i>
                        <p>
                            Country
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/country" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>Country</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/city" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>City</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/address" class="nav-link">
                                <i class="far fa-dot-circle nav-icon"></i>
                                <p>Address</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/admin/user" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Users
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
</div>
</body>


</html>