<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="seoFragment (url, title, keywords, description)">

            <div class="card-header">
                <label for="seo" class="card-title">SEO Block</label>
            </div>
            <div class="card-body" id="seo" name="seo">
                <div class="form-group">
                    <label for="seoURL">URL</label>
                    <input type="url" th:value="${url}" class="form-control" name="seoURL" id="seoURL" placeholder="URL">
                </div>
                <div class="form-group">
                    <label for="seoTitle">Title</label>
                    <input type="text" th:value="${title}" class="form-control" name="seoTitle" id="seoTitle" placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="seoKeywords">Keywords</label>
                    <input type="text" th:value="${keywords}" class="form-control" name="seoKeyWords" id="seoKeywords" placeholder="Keywords">
                </div>
                <div class="form-group">
                    <label for="seoDescription">Description</label>
                    <input type="text" th:value="${description}" class="form-control" rows="3" name="seoDescription"
                           id="seoDescription" placeholder="Description"/>
                </div>
            </div>
</div>
</html>